* {
  margin: 0;
  padding: 0;
}

#index-body{
	background-color: $fondo;
}

h1{
	font-family:$titulos;
	font-size: 70px;
	color: $blanco;
	padding: 120px 40px;
}

a{
	color: $blanco;
	font-size: 20px;
	text-decoration: none;
}

p{
	margin: 10px 0 10px;
}
.btn-block {
    display: inline-block;
    width: 80%;
    background-color: $blanco;
    color: $fondo;
    border: none;

}

.navbar-toggle.navbar-left {
	float: left;
	margin-left: 10px;
	
}

#container-nav{
	background-color: $create;
}

.title-section{
	color: $blanco;
	text-transform: uppercase;

}

.btn-sm{
	padding: 5px 60px;
	color: $create;
}

#container-form{
	margin: 150px 10px;
}