* {
  margin: 0;
  padding: 0;
  border-radius: none;
}

#index-body{
	background-color: $fondo;
}

h1{
	font-family:$titulos;
	font-size: 70px;
	color: $blanco;
	padding: 120px 40px;
}

a{
	color: $blanco;
	font-size: 20px;
	text-decoration: none;
}

p{
	margin: 10px 0 10px;
}
.btn-block {
    display: inline-block;
    width: 80%;
    background-color: $blanco;
    color: $fondo;
    border: none;
}
.btn-block a{
	color: $fondo;
	font-size: 20px;
	text-decoration: none;

}


// seccion create account

.navbar-toggle.navbar-left {
	float: left;
	margin-left: 10px;	
}

#container-nav{
	background-color: $create;
}

.title-section{
	color: $blanco;
	text-transform: uppercase;

}

.btn-sm{
	padding: 5px 60px;
	color: $create;
}

#container-form{
	margin: 100px 10px;
}

.form-group{
	margin: 100px 15px 0px 15px;
}

.fav-btn{
	float: right;
	margin-right: 10px;
}
#btn-create{
	background-color: $create;
	color: $blanco;
	margin-top: 20px;
}

.actor{
	color:$fondo;
	text-decoration: none;
	font-size: 12px;
}

.list-group-item a{
	text-decoration: none;
	font-size: 12px;
	color: #000;
}

#img-movie{
	width: 100%;
	height: 300px;
	background-image: url('../img/still.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:65px;
}

.watch-movie{
	height: 60px;
	background-color: $fondo;
	color: $blanco;
}